.main {
    min-height: 100vh;
    padding-bottom: 4rem;
    padding-top: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main p{
    font-size: 17px;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

.table th {
    text-align: left;
}

.table thead{
    border-bottom: 1px solid #7479c2;
    border-radius: 25px;
    border-top: 1px solid #7479c2;
    height: 2rem;
    margin-top: 0.5rem;
}



.dataRow {
    padding: 1.675rem 0;
    height: 3.75rem;
    border-bottom: 1px solid #9499e2;
}

.dataRow td{
    font-weight: 450;
}

.coinName{
    vertical-align: middle;
}

.coinName:hover{
   color: #EC368D;
}

.coinNameContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coinNameContainer p{
    margin: 0.5em 0;
    font-weight: Bold;
}


.Logo {
    margin : 3px;
    width: 16px;
    height: 100%;
    display: inline-block;
}

